body {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;

}

.first-section {
    background-image: linear-gradient(0deg, #000000e8, #0000007e), url(./images/donation7.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;

}

.first-section h1 {
    font-size: 60px;
    font-weight: 900;
    color: white;
}

.first-section p {
    color: white;
    padding-bottom: 28px;
}

.up-sec-contants {
    text-align: center;
    padding-top: 150px;
}

.donat-btn {
    text-decoration: none;
    color: rgba(252, 252, 252, 0.918);
    padding: 12px 35px;
    background-color: brown;
    border-radius: 10px;
    box-shadow: 0px 0px 15px red;

}

/* 1111111111111111111111111 */

.amount-main-div {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.amount-main-div h2 {
    text-align: center;
    margin-top: 33px;
}

.red-border {
    border: 2px solid red;
    border-radius: 5px;
}

.red-border-h2 {
    color: red;
}

.card {
    width: 140px;
    height: 100px;
    background-color: gray;
    margin-left: 10px;
    margin-bottom: 20px;
}

.donate-area h1 {
    font-size: 40px;
}

.donate-area {
    text-align: center;

}

.other-amount {
    text-align: center;
    border-bottom: 2px solid grey;
    margin-bottom: 50px;
    opacity: 0.5;
}

.amonunt-down-btn {
    text-align: center;
    margin-bottom: 50px;
}